.square {
    width: fit-content;
    height: fit-content;
    background-color: rgb(51, 48, 48);
    border: 3px solid rgb(73, 68, 68);
    padding: 10px; /* Add padding for better appearance */
}

.ds {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.ds li {
    margin-top: 3px;
}

.ds button {
    margin-right: 10px;
    background-color: rgb(76, 74, 74);
    margin-bottom: auto;
    padding: 5px 36px; /* Add padding to buttons for better appearance */
}

textarea {
    resize: both; /* Correct the resize property */
    margin-top: 10px;
    width: fit-content; /* Set the width to fit-content */
    height: fit-content; /* Set the height to fit-content */
    min-width: 300px; /* Set the minimum width */
    min-height: 100px; /* Set the minimum height */
    padding: 5px; /* Add padding for better appearance */
}
